<div class="container">
  <div class="modal" tabindex="-1" [style.display]="ShowUserRole ? 'block' : 'none'" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Uprawnienia</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideDialog()">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>
                      Ustaw rolę dla użytkownika <span style="font-style: italic; font-weight: bold">{{selectedUser.login}}</span>
                      <div class="dropdown show align-right">
                          <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{selectedRole}}
                          </button>

                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <button class="dropdown-item" [ngClass]="{'active': selectedUser.roleId == (number)Enums.Role.Student}" (click)="setStudentRole()">Student</button>
                              <button class="dropdown-item" [ngClass]="{'active': selectedUser.roleId == (number)Enums.Role.Wykładowca}"  (click)="setLecturerRole()">Wykładowca</button>
                          </div>
                      </div>
                  </p>
                  <!-- <p class="std-margin" [style.display] = "isSelectedLecturer ? 'bloack : 'none'">
                      Przynależność do firmy
                      <div class="dropdown show align-right">
                          <button class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{selectedCompany.name}}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <button *ngFor="let company of companies" class="dropdown-item" (click)="selecteCompany(company)">{{company.name}}</button>
                          </div>
                      </div>
                  </p> -->
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideDialog()">Anuluj</button>
                  <button type="button" class="btn btn-primary" (click)="setRole()">Zapisz</button>
              </div>
          </div>
      </div>
  </div>
  <h1>Konta użytkowników</h1>
      <ul *ngIf="loaded else loader" class="list-group">
              <li *ngFor="let user of users" class="list-group-item">
                  <a class="btn btn-link" href="/zajecia/@user.Id">
                      {{user.login}} - {{user.name}} {{user.surname}}
                  </a>
                  <button class="btn btn-danger horizontal-right btn-std-margin" (click)="showDeleteConfirmation(user)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                      Usuń
                  </button>
                  <button class="btn btn-primary horizontal-right btn-std-margin btn-regular" [ngClass]="{'disabled' : !(user.roleId == (number)Enums.Role.Student || user.roleId == (number)Enums.Role.Wykładowca)}"  (click)="showSelectRoleDialog(user)">
                      {{(((Enums.Role)user.roleId).toString())}}
                  </button>
              </li>
      </ul>

  <ng-template #loading>
    <div class="loader-lg"></div>
  </ng-template>
</div>