div .light-box {
    border: solid #ddd 1px;
    border-radius: 2%;
    padding: 2rem;
}

.btn-facebook {
    width: 100%;
    background-color: #3b5998;
    color: white;
    margin-bottom: 2rem;
}
    .btn-facebook:hover {
        opacity: 0.8;
        color: white
    }

.btn-google {
    width: 100%;
    background-color: #db4437;
    color: white;
}
.btn-google:hover{
    opacity: 0.8;
    color:white
}

.btn-content {
    margin-left: 0.5rem
}