<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>ZPP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/zajecia"]'>Zajęcia</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/logowanie"]' [style.display]="isSigned ? 'none' : 'block'">Logowanie</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/rejestracja"]' [style.display]="isSigned ? 'none' : 'block'">Rejestracja</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/profil"]' [style.visibility]="isSigned ? 'visible' : 'hidden'">Profil</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link" [routerLink]='["/wyloguj"]' [style.visibility]="isSigned ? 'visible' : 'hidden'">Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>