<div class="container">
  <div class="container-margin-top">
    <div class="modal" tabindex="-1" [style.display]="DeleteConfVisible ? 'block' : 'none'" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Potwierdzenie</h5>
            <button type="button" class="close" (click)="CloseDialog()" data-dismiss="modal" aria-label="CloseDialog()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Czy na pewno chcesz usunąć zajęcia <span style="font-style: italic;">{{SelectedLecture.name}}</span>?</p>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="CloseDialog()" class="btn btn-secondary" data-dismiss="modal">Nie</button>
            <button type="button" class="btn btn-primary" (click)="DeleteLecture()">Tak</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" [style.display]="CheckAbsenceDialogVisible ? 'block' : 'none'" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 *ngIf="!SelectedLecture.code">Generowanie kodu</h5>
            <h5 *ngIf="SelectedLecture.code" class="modal-title">Kod wygenerowany</h5>
            <button type="button" class="close" (click)="CloseDialog()" data-dismiss="modal" aria-label="CloseDialog()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div *ngIf="!codeLoaded" class="loader-md"></div>
            <div *ngIf="codeLoaded">
              <div *ngIf="!SelectedLecture.code">
                <div class="form-group">
                <label for="minutes">Ważność kodu w minutach</label>
                <input class="form-control" type="number" id="minutes" min="10" max="300" [(ngModel)]="codeExpires" />
              </div>
              <button class="btn btn-primary" type="button" (click)="GetLectureCode()">Wyświetl kod</button>
            </div>
            <div *ngIf="SelectedLecture.code">
              <p>Kod do potwierdzenia obecności: </p>
              <h3>{{this.SelectedLecture.code}} <i id="refresh-btn" (click)="GetLectureCode()" class="fa fa-refresh" title="Wygeneruj nowy kod" aria-hidden="true"></i>  <input class="form-control dialog-form" title="Czas ważności w minutach" type="number" id="minutes" [(ngModel)]="codeExpires" /></h3>
              <p *ngIf="codeIsValid">Kod ważny do: {{codeValidTo | date: 'dd-MM-yyyy HH:mm'}}</p>
              <p *ngIf="!codeIsValid" class="dng">Kod utracił ważność!</p>            
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="page-header" class="border border-primary">
      <div class="row">
        <div class="col-md-10">
          <p id="nameHeader">Zalogowano jako <span style="font-weight:bold">{{user.name}} {{user.surname}}</span></p>
        </div>
        <div class="col-md-2">
          <p class="corner-label">Wykładowca</p>
        </div>
      </div>
      <div id="sub-header" class="row">
        <h3 class="col-md-10 align-self-center">Moje zajęcia</h3>
        <div class="col-md-2 align-self-center">
          <a [routerLink]='["/zajecia/dodaj"]' class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Dodaj
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <ul *ngIf="LoadedLectures else loading" class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <button class="nav-link" [ngClass]="{'active': SelectedTab == 0}" id="home-tab" data-toggle="tab" role="tab"
              aria-selected="true" (click)="ShowActive()">Aktywne</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="profile-tab" [ngClass]="{'active': SelectedTab == 1}" data-toggle="tab"
              role="tab" aria-selected="false" (click)="ShowFuture()">Nadchodzące</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" [ngClass]="{'active': SelectedTab == 2}" id="contact-tab" data-toggle="tab"
              role="tab" aria-selected="false" (click)="ShowPast()">Zakończone</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div [ngClass]="{'tab-pane fade' : true, 'show active': SelectedTab == 0}" id="home" role="tabpanel"
            aria-labelledby="home-tab">
            <ul class="list-group">

              <li *ngFor="let lecture of ActiveLectures" class="list-group-item">
                <a class="btn btn-link" [routerLink]="['/zajecia', lecture.id]">
                  {{lecture.name}}
                </a>
                <button class="btn btn-danger horizontal-right" (click)="CheckAbsence(lecture)">
                  <i aria-hidden="true"></i>
                  Sprawdź obecność
                </button>
              </li>
            </ul>
          </div>
          <div [ngClass]="{'tab-pane fade' : true, 'show active': SelectedTab == 1}" id="profile" role="tabpanel"
            aria-labelledby="profile-tab">
            <ul class="list-group">
              <li *ngFor="let lecture of FutureLectures" class="list-group-item">
                <span class="badge badge-primary badge-pill">{{lecture.date | date: 'dd-MM-yyyy'}}</span>
                <a class="btn btn-link" [routerLink]="['/zajecia', lecture.id]">
                  {{lecture.name}}
                </a>
                <button class="btn btn-danger horizontal-right" (click)="ShowDeleteConfirmation(lecture)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  Usuń
                </button>
              </li>
            </ul>
          </div>
          <div [ngClass]="{'tab-pane fade' : true, 'show active': SelectedTab == 2}" id="contact" role="tabpanel"
            aria-labelledby="contact-tab">
            <ul class="list-group">
              <li *ngFor="let lecture of PastLectures" class="list-group-item">
                <span class="badge badge-primary badge-pill">{{lecture.date | date: 'dd-MM-yyyy'}}</span>
                <a class="btn btn-link" [routerLink]="['/zajecia', lecture.id]">
                  {{lecture.name}}
                </a>

                <button class="btn btn-secondary horizontal-right" (click)="showOpinions(lecture)">
                  <i class="fa fa-list" aria-hidden="true"></i>
                  Oceny
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <div class="loader-lg"></div>
      </ng-template>
    </div>
  </div>
</div>