<div class="container">
  <div class="row container-margin-top">
    <div class="col-md-6 offset-md-3 light-box">
      <div [style.display]="successfullyRegistered ? 'block' : 'none'">
        <div class="alert alert-success" role="alert">{{message}}</div>
        <p>Możesz teraz zalgować się na swoje konto. W tym celu przejdź do strony logowania klikając w link poniżej</p>
        <a class="btn btn-primary" [routerLink]='["/logowanie"]'>Logowanie</a>
      </div>
      <form [style.display]="!successfullyRegistered ? 'block' : 'none'">
        <h2>Załóż konto</h2>
        <div class="alert alert-danger" [style.display]="isAlertVisible ? 'block' : 'none'" role="alert">{{message}}
        </div>
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" id="login" name="login" placeholder="Podaj login" class="form-control" [(ngModel)]="login"
            required />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" placeholder="Podaj adres e-mail" class="form-control"
            [(ngModel)]="email" required />
        </div>
        <div class="form-group">
          <label for="name">Imię</label>
          <input type="text" id="name" name="name" placeholder="Podaj imię" class="form-control" [(ngModel)]="name" />
        </div>
        <div class="form-group">
          <label for="name">Nazwisko </label>
          <input type="text" id="surname" name="=surname" placeholder="Podaj nazwisko" class="form-control"
            [(ngModel)]="surname" />
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" id="password" name="password" placeholder="Podaj hasło" class="form-control"
            [(ngModel)]="password" required />
        </div>
        <div class="form-group">
          <label for="password">Powtórz hasło</label>
          <input type="password" id="rep_password" name="repeatedPassword" placeholder="Powtórz hasło"
            class="form-control" [(ngModel)]="repeatedPassword" required />
        </div>
        <button class="btn btn-primary btn-lg btn-max-width" type="button" (click)=signUpAsync()>Zarejestruj</button>
        <div class="container-margin-top">
          <p>
            Już mam konto.
            <a class="btn" [routerLink]='["/logowanie"]'>Zaloguj</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>