/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

div .container-margin-top{
    margin-top: 4rem;
}
.btn-ok{
    background-color: #39A738;
    border-color: #39A738;
    width: 100%;
}